<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/assets/js/dashboard.js"></script>

    <title>Passport with Sequelize</title>
</head>
 
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Restaurant Manager</h1>
            <p class="lead text-center">Please input your specials into the following form.</p>
        </div>
    </div>

    <form class="container">
        <h3>Daily Specials</h3>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="monday" value="monday">
                <label class="form-check-label" for="inlineCheckbox1">Monday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tuesday" value="tuesday">
                <label class="form-check-label" for="inlineCheckbox2">Tuesday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="wednesday" value="wednesday">
                <label class="form-check-label" for="inlineCheckbox3">Wednesday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="thursday" value="thursday">
                <label class="form-check-label" for="inlineCheckbox2">Thursday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="friday" value="friday">
                <label class="form-check-label" for="inlineCheckbox2">Friday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="saturday" value="saturday">
                <label class="form-check-label" for="inlineCheckbox2">Saturday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sunday" value="sunday">
                <label class="form-check-label" for="inlineCheckbox2">Sunday</label>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Food Special:</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div> 
                        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price</span>
                    <span class="input-group-text">$</span>                    
                </div>
                <input type="number" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$" name="price" min="1" step="any" class="form-control" >
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Side Special:</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
                        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price</span>
                    <span class="input-group-text">$</span>                    
                </div>
                <input type="number" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$" name="price" min="1" step="any" class="form-control" >
                </div>
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Drink Special:</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>            
           
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Price</span>
                    <span class="input-group-text">$</span>                    
                </div>
                <input type="number" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$" name="price" min="1" step="any" class="form-control" >
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="dailySpecials">Submit</button>
    </form>
    <hr>

    <div class="container">
        <h3>Restaurant Specials:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
 
</html>